<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间   -->
<mapper namespace="com.githup.mybatis.dao.UserMapper">
    <!--List<User> findUser();-->
    <select id="findUser" resultType="user">
        select  * from  smbms_user
    </select>
    <!--User findUserByUserName(String name);-->
    <!--parameterType:入参类型-->
    <select id="findUserByUserName" resultType="user" parameterType="String" >
        select * from smbms_user where userName like Concat('%',#{name},'%');
</select>
    <!-- User findUserByUserNameAndUserRole(User user);-->
    <!--使用用户来传递参数 参数直接可以使用对象中的字段获取-->
    <select id="findUserByUserNameAndUserRole" resultType="user" parameterType="user">
        select *
          from  smbms_user
            where  userName
              like Concat('%',#{userName},'%')
                and userRole = #{userRole};

    </select>
    <!--User findUserByMap(Map<String, Object> map);-->
    <!-- map集合参数根据键获取值 -->
    <select id="findUserByMap" resultType="user" parameterType="map">
        select *
          from  smbms_user
            where  userName
              like Concat('%',#{userName},'%')
                and userRole = #{userRole};
    </select>
    <!--User findUserByUserNameAndUserRole1(@Param("userName") String name,@Param("userRole") int role);-->
    <!-- 只要是注解入参 那么不用写入参类型 -->
    <!--多表联查内连接 左外连接 右外连接 子查询-->
    <select id="findUserByUserNameAndUserRole1" resultType="user">
         select *,(select roleName from smbms_role where id = #{userRole}) as roleName
          from smbms_user
            where userName like Concat('%',#{userName},'%')
              and  userRole = #{userRole}
    </select>
    <!--List<User> findUserListByGender(int i);-->
    <select id="findUserListByGender" resultType="user" parameterType="int">
        select * from smbms_user where userName like Concat('%',#{i},'%');
    </select>
    <resultMap id="userList" type="user">
        <!-- 用来提升映射性能的 -->
        <id property="id" column="id"></id>
        <result column="roleName" property="userRoleName"></result>

    </resultMap>
    <!--User findUserByUserNameAndUserRole2(String name, int roleId);-->
    <select id="queryUserAndAddressAndRoleByUserNameAndUserRole" resultMap="listResult">
        SELECT
        u.*,r.roleName,a.addressDesc
        FROM
        smbms_user u,
        smbms_role r,
        smbms_address a
        WHERE
        u.userRole = r.id
        and
        u.id = a.userId
        /* if里面可以直接获取param里面的参数*/
        <if test="userName != null and userName !='' ">
            and
            u.userName like Concat('%',#{userName},'%')

        </if>
        <if test="userRole != null">
            and
            u.userRole = #{userRole}
        </if>
    </select>

    <!--int addUser();-->
    <!-- 增删改不用写返回值类型  自动返回 -->
    <select id="findUserByUserNameAndUserRole2" resultMap="userList" >
        select su.*,sr.roleName
          from smbms_user su,smbms_role sr
            where sr.id = su.userRole
              and userName like Concat('%',#{userName},'%')
                and  su.userRole = #{userRole}

    </select>

    <!-- int updateUserNameAndUserCode(User user);-->
    <insert id="addUser" >
      insert  into smbms_user(userCode,userName,userPassword,gender,birthday,phone,address,userRole,
                                createdBy,creationDate,modifyBy,modifyDate)
        values("gyx","盖逸轩","123456",2,"1999-7-9","18274345632","北大青鸟",2,1,now(),1,now());
    </insert>

    <!--int deleteUserByUserName(@Param("userName") String name);-->
    <update id="updateUserNameAndUserCode" parameterType="user">
        update  smbms_user set userCode = #{userCode},userName=#{userName} where id = #{id}
    </update>
    <delete id="deleteUserByUserName" >
        delete from smbms_user where userName = #{userName}
    </delete>
    <!--User queryUserAndRoleByUserNameAndUserRole(@Param("userName") String name,@Param("userRole") int role);-->
    <resultMap id="resuleList" type="user">
        <!--替身查询性能-->
        <id column="id" property="id"></id>
        <association property="role" javaType="role">
            <id column="rid" property="id"></id>
            <result column="rcreatedBy" property="createdBy"></result>
            <result column="rcreationDate" property="creationDate"></result>
            <result column="rmodifyBy" property="modifyBy"></result>
            <result column="rmodifyDate" property="modifyDate"></result>
        </association>
    </resultMap>
    <select id="queryUserAndRoleByUserNameAndUserRole"  resultMap="resuleList">
        select u.*,
              r.id as rid,
              r.roleCode,
              r.roleName,
              r.createdBy as rcreatedBy,
              r.creationDate as rcreationDate,
              r.modifyBy as rmodifyBy,
              r.modifyDate as rmodifyDate
          from smbms_user u,smbms_role r
            where u.userRole = r.id
            and  userName like Concat('%',#{userName},'%')
            and u.userRole = #{userRole}
    </select>
    <!-- User queryUserAndAddressAndRoleByUserNameAndUserRole(@Param("userName") String name,@Param("userRole") int role);-->
    <resultMap id="listResult" type="user">
        <collection property="addressList" ofType="address">
            <result property="addressDesc" column="addressDesc"></result>
        </collection>
    </resultMap>
</mapper>